{"filter":false,"title":"rss.json.example","tooltip":"/rss.json.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1453195139000,"hash":"6be194476748718fc6db209a84f2fd8ada259ec6"}